In [5]:
import pyspark
import pandas as pd

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from datetime import datetime, date

In [227]:
def create_df_scratch(df: pd.DataFrame):
    df.to_csv('a', index=False)
    spark_df = spark.read.csv('a', header=True)
    return spark_df

In [9]:
spark = SparkSession.builder.appName('Test').getOrCreate()

In [10]:
print(pyspark.__version__)

3.5.1

In [13]:
spark

In [28]:
df = pd.DataFrame({'Name':['Krish','Sudhanshu','Sunny'], 'age':[31,30,29]})

In [17]:
spark.read.option('header','true').csv('mail_data.csv').show(100)

+--------+--------------------+
|Category|             Message|
+--------+--------------------+
|     ham|Go until jurong p...|
|     ham|Ok lar... Joking ...|
|    spam|Free entry in 2 a...|
|     ham|U dun say so earl...|
|     ham|Nah I don't think...|
|    spam|FreeMsg Hey there...|
|     ham|Even my brother i...|
|     ham|As per your reque...|
|    spam|WINNER!! As a val...|
|    spam|Had your mobile 1...|
|     ham|I'm gonna be home...|
|    spam|SIX chances to wi...|
|    spam|URGENT! You have ...|
|     ham|I've been searchi...|
|     ham|I HAVE A DATE ON ...|
|    spam|XXXMobileMovieClu...|
|     ham|Oh k...i'm watchi...|
|     ham|Eh u remember how...|
|     ham|Fine if thats th...|
|    spam|England v Macedon...|
|     ham|Is that seriously...|
|     ham|I‘m going to try ...|
|     ham|So ü pay first la...|
|     ham|Aft i finish my l...|
|     ham|Ffffffffff. Alrig...|
|     ham|Just forced mysel...|
|     ham|Lol your always s...|
|     ham|Did you catch the...|
|     ham|I'm back &amp; we...|
|     ham|Ahhh. Work. I vag...|
|     ham|Wait that's still...|
|     ham|Yeah he got in at...|
|     ham|K tell me anythin...|
|     ham|For fear of faint...|
|    spam|Thanks for your s...|
|     ham|Yup... Ok i go ho...|
|     ham|Oops, I'll let yo...|
|     ham|I see the letter ...|
|     ham|Anything lor... U...|
|     ham|Hello! How's you ...|
|     ham|Pls go ahead with...|
|     ham|Did I forget to t...|
|    spam|07732584351 - Rod...|
|     ham| WHO ARE YOU SEEING?|
|     ham|Great! I hope you...|
|     ham|No calls..message...|
|     ham|Didn't you get he...|
|     ham|Fair enough, anyt...|
|     ham|Yeah hopefully, i...|
|     ham|U don't know how ...|
|     ham|What you thinked ...|
|     ham|A gram usually ru...|
|     ham|K fyi x has a rid...|
|     ham|"Wow. I never rea...|
|    spam|SMS. ac Sptv: The...|
|     ham|Do you know what ...|
|    spam|Congrats! 1 year ...|
|     ham|Sorry, I'll call ...|
|     ham|Tell where you re...|
|     ham|Yes..gauti and se...|
|     ham|Your gonna have t...|
|     ham|Ha ha ha good jok...|
|     ham|Its a part of che...|
|     ham|Sorry my roommate...|
|     ham|Ok lar i double c...|
|    spam|As a valued custo...|
|     ham|"Today is ""song ...|
|    spam|Urgent UR awarded...|
|    spam|"Did you hear abo...|
|     ham|I plane to give o...|
|     ham|Wah lucky man... ...|
|     ham|Finished class wh...|
|     ham|HI BABE IM AT HOM...|
|     ham|K..k:)where are y...|
|     ham|U can call me now...|
|     ham|I am waiting mach...|
|     ham|Thats cool. i am ...|
|     ham|I like you people...|
|     ham|Does not operate ...|
|     ham|Its not the same ...|
|     ham|Sorry, I'll call ...|
|     ham|K. Did you call m...|
|     ham|Ok i am on the wa...|
|     ham|You will be in th...|
|     ham|      Yup next stop.|
|     ham|I call you later,...|
|     ham|For real when u g...|
|     ham|Yes I started to ...|
|     ham|I'm really not up...|
|     ham|Ela kano.,il down...|
|     ham|Yeah do! Don‘t st...|
|     ham|Sorry to be a pai...|
|     ham|Smile in Pleasure...|
|    spam|Please call our c...|
|     ham|Havent planning t...|
|    spam|"Your free ringto...|
|     ham|Watching telugu m...|
|     ham|i see. When we fi...|
|     ham|Hi. Wk been ok - ...|
|     ham|I see a cup of co...|
+--------+--------------------+
only showing top 100 rows

In [19]:
df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])

In [25]:
pandas_df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [2., 3., 4.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
df = spark.createDataFrame(pandas_df)
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [15]:
pandas_df = pd.read_csv('drawndata2.csv')

In [17]:
df = spark.read.csv('drawndata2.csv')

In [18]:
type(df)

pyspark.sql.dataframe.DataFrame

In [21]:
import os
print("PYSPARK_PYTHON:", os.environ.get('PYSPARK_PYTHON'))
print("PYSPARK_DRIVER_PYTHON:", os.environ.get('PYSPARK_DRIVER_PYTHON'))

PYSPARK_PYTHON: None
PYSPARK_DRIVER_PYTHON: None

In [31]:
print(pyspark.version)

<module 'pyspark.version' from 'D:\\Users\\Asus\\anaconda3\\Lib\\site-packages\\pyspark\\version.py'>

In [38]:
print(pyspark.__version__)

3.5.0

In [29]:
spark.read.csv('check.csv').show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
|  Fred| 20|
| James| 20|
|KumDen| 20|
+------+---+

In [34]:
df_pyspark = spark.read.option('header','true').csv('check.csv',inferSchema=True)

In [36]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
|  Fred| 20|
| James| 20|
|KumDen| 20|
+------+---+

In [35]:
df_pyspark.head(3)

[Row(Name='Fred', Age=20),
 Row(Name='James', Age=20),
 Row(Name='KumDen', Age=20)]

In [37]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [39]:
df_pyspark = spark.read.csv('check.csv',header=True,inferSchema=True)

In [41]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [43]:
df_pyspark.count()

3

In [45]:
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
|  Fred|
| James|
|KumDen|
+------+

In [47]:
from pyspark.sql.functions import lit

df_pyspark = df_pyspark.withColumn('Experience', lit(10))

In [49]:
df_pyspark = df_pyspark.withColumn('New Experience', df_pyspark['Experience'] + 10)

In [51]:
df_pyspark.show()

+------+---+----------+--------------+
|  Name|Age|Experience|New Experience|
+------+---+----------+--------------+
|  Fred| 20|        10|            20|
| James| 20|        10|            20|
|KumDen| 20|        10|            20|
+------+---+----------+--------------+

In [165]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

#Creates Empty RDD
emptyRDD = spark.sparkContext.emptyRDD()
print(emptyRDD)

EmptyRDD[223] at emptyRDD at NativeMethodAccessorImpl.java:0

In [133]:
#Creates Empty RDD using parallelize
rdd2= spark.sparkContext.parallelize([])
print(rdd2)

#EmptyRDD[205] at emptyRDD at NativeMethodAccessorImpl.java:0
#ParallelCollectionRDD[206] at readRDDFromFile at PythonRDD.scala:262

ParallelCollectionRDD[181] at readRDDFromFile at PythonRDD.scala:289

In [135]:
#Create Schema
from pyspark.sql.types import StructType,StructField, StringType
schema = StructType([
  StructField('firstname', StringType(), True),
  StructField('middlename', StringType(), True),
  StructField('lastname', StringType(), True)
  ])

In [153]:

#Create empty DataFrame from empty RDD
df = spark.createDataFrame(emptyRDD,schema)

In [143]:
#Convert empty RDD to Dataframe
df1 = emptyRDD.toDF(schema)
df1.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

In [41]:

#Create empty DataFrame directly.
df2 = spark.createDataFrame([], schema)
df2.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

In [177]:
#Create empty DatFrame with no schema (no columns)
df3 = spark.createDataFrame([], StructType([]))
df3.printSchema()

df3

root

DataFrame[]

In [187]:
df = pd.DataFrame({'a':[1,2,3], 'b':[1,3,5]})

In [189]:
df = create_df_scratch(df)

In [191]:
df.show()

+---+---+
|_c0|_c1|
+---+---+
|  a|  b|
|  1|  1|
|  2|  3|
|  3|  5|
+---+---+

In [199]:
df.select('_c0')

+---+
|_c0|
+---+
|  a|
|  1|
|  2|
|  3|
+---+

In [229]:
import seaborn as sns

iris = sns.load_dataset('iris')
df = create_df_scratch(iris)

In [231]:
df.show()

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|species|
+------------+-----------+------------+-----------+-------+
|         5.1|        3.5|         1.4|        0.2| setosa|
|         4.9|        3.0|         1.4|        0.2| setosa|
|         4.7|        3.2|         1.3|        0.2| setosa|
|         4.6|        3.1|         1.5|        0.2| setosa|
|         5.0|        3.6|         1.4|        0.2| setosa|
|         5.4|        3.9|         1.7|        0.4| setosa|
|         4.6|        3.4|         1.4|        0.3| setosa|
|         5.0|        3.4|         1.5|        0.2| setosa|
|         4.4|        2.9|         1.4|        0.2| setosa|
|         4.9|        3.1|         1.5|        0.1| setosa|
|         5.4|        3.7|         1.5|        0.2| setosa|
|         4.8|        3.4|         1.6|        0.2| setosa|
|         4.8|        3.0|         1.4|        0.1| setosa|
|         4.3|        3.0|         1.1|        0.1| setosa|
|         5.8|        4.0|         1.2|        0.2| setosa|
|         5.7|        4.4|         1.5|        0.4| setosa|
|         5.4|        3.9|         1.3|        0.4| setosa|
|         5.1|        3.5|         1.4|        0.3| setosa|
|         5.7|        3.8|         1.7|        0.3| setosa|
|         5.1|        3.8|         1.5|        0.3| setosa|
+------------+-----------+------------+-----------+-------+
only showing top 20 rows

In [233]:
df.printSchema()

root
 |-- sepal_length: string (nullable = true)
 |-- sepal_width: string (nullable = true)
 |-- petal_length: string (nullable = true)
 |-- petal_width: string (nullable = true)
 |-- species: string (nullable = true)

In [249]:
# Cast columns to different data types
df = df.withColumn("sepal_length", col("sepal_length").cast("integer")) \
              .withColumn("sepal_width", col("sepal_width").cast("float"))

# Display the DataFrame with casted columns
df.show()

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|species|
+------------+-----------+------------+-----------+-------+
|           5|        3.5|         1.4|        0.2| setosa|
|           4|        3.0|         1.4|        0.2| setosa|
|           4|        3.2|         1.3|        0.2| setosa|
|           4|        3.1|         1.5|        0.2| setosa|
|           5|        3.6|         1.4|        0.2| setosa|
|           5|        3.9|         1.7|        0.4| setosa|
|           4|        3.4|         1.4|        0.3| setosa|
|           5|        3.4|         1.5|        0.2| setosa|
|           4|        2.9|         1.4|        0.2| setosa|
|           4|        3.1|         1.5|        0.1| setosa|
|           5|        3.7|         1.5|        0.2| setosa|
|           4|        3.4|         1.6|        0.2| setosa|
|           4|        3.0|         1.4|        0.1| setosa|
|           4|        3.0|         1.1|        0.1| setosa|
|           5|        4.0|         1.2|        0.2| setosa|
|           5|        4.4|         1.5|        0.4| setosa|
|           5|        3.9|         1.3|        0.4| setosa|
|           5|        3.5|         1.4|        0.3| setosa|
|           5|        3.8|         1.7|        0.3| setosa|
|           5|        3.8|         1.5|        0.3| setosa|
+------------+-----------+------------+-----------+-------+
only showing top 20 rows

In [251]:
df.printSchema()

root
 |-- sepal_length: integer (nullable = true)
 |-- sepal_width: float (nullable = true)
 |-- petal_length: string (nullable = true)
 |-- petal_width: string (nullable = true)
 |-- species: string (nullable = true)